.company-logo {
  text-decoration: none;
  cursor: pointer;
}

.reviews-set, .features-set {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}

.page-header {
  position: relative;
  border-bottom: 2px solid black;
}

.page-header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  height: 100px;
  background-color: beige;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.menu-container.is-open {
  display: block;
}

.company-logo {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  background-color: #00b3ff;
  color: #fff;
}

.section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .reviews {
    display: none;
  }
}

.reviews-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-item {
  text-align: center;
  padding: 40px;
  color: #fff;
  font-size: 48px;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.reviews-item:nth-child(1) {
  background-color: brown;
}

.reviews-item:nth-child(2) {
  background-color: gray;
}

.reviews-item:nth-child(3) {
  background-color: violet;
}

@media screen and (min-width: 768px) {
  .features-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -5px;
  }
}

@media screen and (min-width: 1140px) {
  .features-set {
    margin: -10px;
  }
}

.features-item {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .features-item {
    -ms-flex-preferred-size: calc((100% - 4 * 5px) / 2);
        flex-basis: calc((100% - 4 * 5px) / 2);
    margin: 5px;
  }
}

@media screen and (min-width: 1140px) {
  .features-item {
    -ms-flex-preferred-size: calc((100% - 6 * 10px) / 3);
        flex-basis: calc((100% - 6 * 10px) / 3);
    margin: 10px;
  }
}

@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.features-item:nth-child(1) {
  background-color: tomato;
}

.features-item:nth-child(2) {
  background-color: purple;
}

.features-item:nth-child(3) {
  background-color: green;
}

.features-item:nth-child(4) {
  background-color: #00b3ff;
}

.features-item:nth-child(5) {
  background-color: pink;
}

.features-item:nth-child(6) {
  background-color: teal;
}
/*# sourceMappingURL=main.css.map */